<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space apps</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />

</head>
<body>
<h1>Space apps</h1>

      <form method="post" action="/weather/getdata/">
    <table>
        <tr>
            <td>Enter your location:</td>
            <td><input type="text" name="location"/></td>
        </tr>

        <tr>
            <td>

            </td>
            <td>
                <button>Submit Form</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>